/* font */
/* ÆNDRE */
  @import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');


/* css link */

/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* INDTAST FARVER */
    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --danger: #DC4C64;
    --warning: #E4A11B;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;
    --error: #ff2222;
    --success: #14A44D;
}
body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .container {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 90%;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    color: var(--light);
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Chango', sans-serif;

  }
  
  .subtitle {
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--light);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b00;
    border-radius: 10px;
    height: 20px;
    left: 20px;
  }


  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--light);;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:hover {
    background-color: #06b;
  }
  #opgaveoutput {
    color: var(--light);
    margin: 10px 0;
  }
#removeTask, #remove {
   color: var(--error);
   margin: 5px 0;
   cursor: pointer;
}
.buttom-container {
    position: absolute;
    bottom: 7%;
    color: var(--light);
    text-align: center;
    width: 280px;
    display: none;
}
#remove {

}