/* font */
/* ÆNDRE */
  @import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');


/* css link */

/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* INDTAST FARVER */
    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --danger: #DC4C64;
    --warning: #E4A11B;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;
    --error: #ff2222;
    --success: #14A44D;
}
body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .container {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 90%;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    color: var(--light);
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Chango', sans-serif;

  }
  
  .subtitle {
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--light);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b00;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transcontainer: translateY(0);
    transition: transcontainer 200ms;
    width: 76px;
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transcontainer-origin: 0 50%;
    transition: transcontainer 200ms, color 200ms;
    top: 20px;
  }

  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--light);;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:hover {
    background-color: #06b;
  }
  

 /*body {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--dark);
    color: var(--light);
    font-family: 'Inria Sans', sans-serif;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 30px;

}
.container-container {
    padding: 20px;

}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  } */